* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Langar', cursive;
}

body {
	font-family: 'Langar', cursive;
}

.app {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	margin: 50px 0px 30px 0px;
	text-align: center;
	font-size: 40px;
}

header p {
	font-size: 20px;
}

.pads {
	background-color: lightblue;
	width: 100%;
	display: flex;
}

.pads > div {
	height: 100px;
	width: 100px;
	flex: 1;
}

.pad1 {
	background-color: rgb(0, 255, 76);
}
.pad2 {
	background-color: rgb(210, 30, 114);
}
.pad3 {
	background-color: rgb(24, 99, 99);
}
.pad4 {
	background-color: rgb(204, 0, 255);
}
.pad5 {
	background-color: rgb(171, 187, 25);
}
.pad6 {
	background-color: rgb(255, 72, 0);
}

@keyframes jump {
	0% {
		bottom: 0%;
		left: 20%;
	}
	50% {
		bottom: 50%;
		left: 50%;
	}
	100% {
		bottom: 0%;
		left: 80%;
	}
}

.visual > div {
	position: absolute;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	bottom: 0%;
	z-index: -1;
}
